<div id="container" class="margin-below">
  <div id="welcome-page" class="ui one column padded grid">
    <div class="void row">
      <div class="no-pad void column">
        <div class="large-margin ui center aligned container">
          <p class="small-header">Hey, &nbsp; I'm</p>
          <p class="large-header">Shiva Chandrashekar</p>
        </div>
      </div>
    </div>
  </div>
    <div class="ui stackable grid container">
      <div class="row">
          <div class="ui center aligned five wide column">
            <div class="ui medium image">
              <img src="./assets/images/website_pic2.png">
            </div>
          </div>
        <div class="ui center aligned middle aligned eleven wide column">
            <p class="large-margin small-header">
              Software Engineer Developer at Amazon, &nbsp; Masters in computer science @ Arizona State
            </p>
            <hr>
            <br>
            <a href="./assets/files/Resume.pdf" title="Download Resume" class="button button-primary" download target="_blank">Download Resume</a>
            <img class="ui centered small image" src="./assets/fonts/svg/049-amazon.svg">
            <!--p class="margin-below small-header">
		Welcome to My Page
            </p-->
        </div>
      </div>
    </div>
</div>
