<div id="container">
  <div class="ui center aligned text container">
    <p class="medium-header medium-margin">Projects</p>
    <hr>
  </div>

  <!-- Simple Reddit Clone -->
  <div class="xxlarge-margin margin-below">
    <div id="projects" class="ui stackable grid container">
      <div class="row">
        <div class="no-pad ui center aligned seven wide column cont">
          <div class="ui image">
            <img class="shadow image" src="./assets/images/voronoi2.png">
            <div class="middle">
              <a  class="desc" href="./assets/files/" download="first.pdf">Download Paper</a>
            </div>
          </div>
        </div>
        <div class="ui center aligned nine wide column">
          <p class="large-margin small-header">
            Coverage Control
          </p>
          <br>
          <p class="res-p font">
            Reading close to 15 scientific papers helped me understand
            he nuances of finding the essence of each paper and how to
            find the aspect of the paper most relevant to the topic at hand.
            I could follow most of the papers I picked for my project
            because they were extensions to the concepts taught in class.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--Arduino based obstable avoidance robot-->
  <div class="xxlarge-margin">
    <div id="projects" class="ui computer reversed stackable grid container">
      <div class="row">
        <div class="no-pad ui center aligned seven wide column cont">
          <div class="shadow ui right floated image">
            <img class="shadow image" src="./assets/images/smart_musuem.jpg">
            <div class="middle">
              <a class="desc" href="./assets/files/" download="first.pdf">Download Paper</a>
            </div>
          </div>
        </div>
        <div class="ui center aligned nine wide column">
          <p class="large-margin small-header">
            Smart Museum
          </p>
          <p class="res-p">
            In this paper, we design and validate a context aware content delivery
            system using a Raspberry Pi which plays the role of a beacon. A local database has been set up to hold the
            required contents, this would be queried according to the ID of the beacon. We implement a non-traditional
            way of Content delivery System that delivers the cultural contents
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Brain Net -->
  <div class="xxlarge-margin xlarge-below">
    <div id="projects" class="ui stackable grid container">
      <div class="row">
        <div class="no-pad ui center aligned seven wide column cont">
          <div class="shadow ui image">
            <img class="image" src="./assets/images/Brain_Net.png">
            <div class="middle">
              <a class="desc" href="./assets/files/" download="third.pdf">Download paper</a>
            </div>
          </div>
        </div>
        <div class="ui center aligned nine wide column">
          <p class="large-margin small-header">
            Brain Net
          </p>
          <p class="res-p">
            I was able to improve on my
            existing knowledge of python (pandas) by pre-processing
            the EDF data. practically using the specified ML techniques
            gave me an understanding of the nuances for Fine-tuning
            parameters for better accuracy.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
