#container {
  /*height: 100vh;*/
  background-color: #EBEBEB
}
#my-system {
  /*height: 100%;*/
}

.img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cont:hover .image {
  opacity: 0.4;
}

.cont:hover .middle {
  opacity: 1;
}

.desc {
  background-color: violet;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}


