<div id="container">
  <div class="ui center aligned text container">
    <p class="void medium-header medium-margin">Interests</p>
    <hr class="void">
  </div>

  <!-- Simple Reddit Clone -->
  <div class="xlarge-margin margin-below">
    <div id="projects" class="ui stackable grid container">
      <div class="row">

        <div class="no-pad ui eight wide column">
          <div id="projects" class="ui padded grid">
            <div class=" row">
              <div class=" ui eight wide column cont">
                <div class="shadow ui image">
                  <img class="img" src="./assets/images/cricket-1.jpg">
                  <div class="middle">
                    <a class="desc" href="http://www.mylaporetimes.com/2011/01/local-schools-at-vidya-mandir-sportstar-cricket-tourney/"> More </a>
                  </div>
                  <div class="card-image">
                    <p class="caption">
                      The tallest of the bunch. Made the headlines of the sports section for the first time, scoring a
                      75 for my School Vidya Mandir (Chennai - 2012).
                    </p>
                  </div>
                </div>

              </div>
              <div class=" ui eight wide column cont">
                <div class="shadow ui image">
                  <img class="img" src="./assets/images/croatia-conference.png">
                  <div class="middle">
                    <a class="desc" href=""> More </a>
                  </div>
                  <div class="card-image">
                    <p class="caption">
                      Third person from the left. With my collegues at the Splitech Internation Conference (Split - 2017).
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="no-pad ui eight wide column">
          <div id="projects" class="ui padded grid">
            <div class=" row">
              <div class=" ui eight wide column cont">
                <div class="shadow ui image">
                  <img class="img" src="./assets/images/quantel.jfif">
                  <div class="middle">
                    <a class="desc" href=""> More </a>
                  </div>
                  <div class="card-image">
                    <p class="caption">
                      Second person from left. With my team after my summer stint at Quantel AI (New York City - 2019).
                    </p>
                  </div>
                </div>

              </div>
              <div class=" ui eight wide column cont">
                <div class="shadow ui image">
                  <img class="img" src="./assets/images/handball.png">
                  <div class="middle">
                    <a class="desc" href=""> More </a>
                  </div>
                  <div class="card-image">
                    <p class="caption">
                      Person on the left. After finishing runners up in the B1 division at collegiete's handball 2020
                      (Austin - 2020)
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui center aligned text container">
      <p class="xlarge-margin void small-header">
        Always Under Progress
      </p>
      <p class="large-margin margin-below fuschia">
        While I began my Master's in computer science, I took an in-depth look into robotics and its various applications.
        Once I completed my internship, I was familiar with the applications of data science in the financial domain. It really
        has taken a while for me to realize what interests me the most, but I believe in building good quality software for the future.
      </p>
    </div>

    <div class="ui center aligned grid container">
      <p class="void medium-header large-margin small-below">
        View my
      </p>
      <div class="row">
        <div class="large-margin xlarge-below ui five wide column">
          <a href="https://www.instagram.com/cshiva96/" target="_blank">
            <img class="ui centered small image" src="./assets/fonts/svg/029-instagram.svg">
          </a>
          <p class="fuschia small-margin">Art</p>
        </div>
        <div class="large-margin xlarge-below ui five wide column">
          <a href="https://www.linkedin.com/in/shiva-chandrashekar/" target="_blank">
            <img class="ui centered small image" src="./assets/fonts/svg/027-linkedin.svg">
          </a>
          <p class="fuschia small-margin">Writing</p>
        </div>
        <div class="large-margin xlarge-below ui five wide column">
          <a href="https://twitter.com/cshiva96" target="_blank">
            <img class="ui centered small image" src="./assets/fonts/svg/008-twitter.svg">
          </a>
          <p class="fuschia small-margin">Thoughts</p>
        </div>
      </div>
    </div>

  </div>
</div>
