<div id="container">
  <div class="ui center aligned text container">
    <p class="void medium-header medium-margin">Work Experience</p>
    <hr class="void">
  </div>

<div class="large-margin">
  <div class="ui centered stackable grid container">
    <div class="row">
      <div class="ui center aligned middle aligned four wide column">
        <p class="void small-header medium-margin">Data Science Intern</p>
        <p class="void"> May 2019 - August 2019</p>
      </div>
      <div class="no-pad ui center aligned four wide column">
        <div class="ui medium image">
          <img src="./assets/images/Quantel.png">
        </div>
      </div>
    </div>
  </div>
</div>

<!--div class="ui center aligned text container">
  <p class="res-p cookie xlarge-margin margin-below">
    API Connect, an industry leading solution, makes the capabilities of enterprise software easily and securely available to external and internal consumers.
  </p>
</div-->

  <!-- Simple Reddit Clone -->
  <div class="xlarge-margin">
    <div id="projects" class="ui stackable grid container" style="width: 100%!important;">
      <div class="row">
        <div class="no-pad ui six wide column" style="padding-left: 0px;">
          <div class="ui left floated image">
            <img class="shadow" src="./assets/images/dashing2.png">
          </div>
        </div>
        <div class="ui center aligned four wide column">
            <p class="res-p cookie">
              Quantel AI's mission is to deliver products and solutions that help you realize the power of AI in a practical way that will help your firm increase revenues, gain efficiencies and mitigate risks.
            </p>
            <p class="res-p cookie margin-below">
              As an intern I designed and developed an Anomaly Detection System to detect trading anomalies and illegal trading patterns.
              Used Python and Apache Spark to clean, pre-process and analyze the raw log files.
            </p>
        </div>
        <div class="no-pad ui six wide column" style="padding-right: 0px;">
          <div class="ui right floated image">
            <img class="shadow" src="./assets/images/dashing3.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Crosssite Hackathon-->
  <div class="large-margin">
    <div class="ui centered stackable grid container">
      <div class="row">
        <div class="ui center aligned middle aligned four wide column">
          <p class="void small-header medium-margin">Web Developer Intern</p>
          <p class="void"> June 2017 - August 2017</p>
        </div>
        <div class="no-pad ui center aligned four wide column">
          <div class="ui medium image">
            <img src="./assets/images/HCL.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="xlarge-margin">
    <div id="projects" class="ui stackable grid container" style="width: 100%!important;">
      <div class="row">
        <div class="no-pad ui six wide column" style="padding-left: 0px;">
          <div class="ui left floated image">
            <img class="shadow" src="./assets/images/dashing2.png">
          </div>
        </div>
        <div class="ui center aligned four wide column">
            <p class="res-p cookie">
              Quantel AI's mission is to deliver products and solutions that help you realize the power of AI in a practical way that will help your firm increase revenues, gain efficiencies and mitigate risks.
            </p>
            <p class="res-p cookie margin-below">
              As an intern I designed and developed an Anomaly Detection System to detect trading anomalies and illegal trading patterns.
              Used Python and Apache Spark to clean, pre-process and analyze the raw log files.
            </p>
        </div>
        <div class="no-pad ui six wide column" style="padding-right: 0px;">
          <div class="ui right floated image">
            <img class="shadow" src="./assets/images/dashing3.png">
          </div>
        </div>
      </div>
    </div>
  </div>
